.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}

.navbar-brand:hover {
  font-weight: bold;
  color: rgb(182, 182, 7) !important;
}

.rounded{
 border-top: 8px solid lightblue;
 border-radius: 5px;
}
.mydivstyle:hover{
  box-shadow: 0 0 28px 0 rgba(0,0,0,0.3);
  transform: translateY(-28px);
}

